.similar_product {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-top: 4rem;
}

.similar_product .similar_product_comps {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
