.about_company {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 3rem;
}

.subscribe h5 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.send_mail {
  width: 70%;
  height: 70%;

  border-radius: 3rem;

  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.3rem 1rem;
}

.send_mail button,
.send_mail input {
  height: 100%;
}

.send_mail button {
  flex: 1;

  border: none;

  background-color: #fff200;
}

.send_mail input {
  border: none;
  outline: none;

  flex: 3;
}
