.product_color {
  width: 100%;

  padding-left: 3rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.product_color h5 {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.colors > div:not(:last-child) {
  margin-right: 1rem;
}

.colors > div {
  border: 1px solid white;
}

.colors > div:focus img:focus,
.colors > div:active img:active,
.colors > div:focus-within img:focus-within,
.colors > div:focus-visible img:focus-visible {
  border-radius: 50%;
  border: 1px solid #542e90;
}
