.details {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 0rem;
}

.accepted_payments {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accepted_payments img:not(:last-child) {
  margin-right: 1rem;
}

.powered_by {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
