.product_size {
  padding-left: 3rem;

  width: 100%;

  margin-bottom: 1.5rem;

  border-bottom: 1px solid #d9d9d9;
}

.product_size h5 {
  font-size: 1.5rem;

  margin-bottom: 0.4rem;
}

.product_size div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_size div button {
  width: 4.5rem;
  height: 4.5rem;

  background-color: white;

  border: 1px solid #d9d9d9;

  border-radius: 50%;
}

.product_size div button:active,
.product_size div button:focus {
  background-color: #ececec;
}

.product_size div button:active span,
.product_size div button:focus span {
  color: black;
}

.product_size div button span {
  font-weight: 600;
  color: #542e90;
}
