.main_view {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;
}

.main_view button {
  position: absolute;
  top: 0;
  left: 0;
}

.main_view > img {
  width: 35.5rem;

  object-fit: cover;
}
