.main_view {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;
}

.main_view button {
  position: absolute;
  top: 1rem;
  left: 2rem;

  width: 4rem;
  height: 4rem;

  border-color: white;
  border-radius: 1rem;

  background-color: white;

  padding: 0.5rem;
}

.main_view > img {
  width: 35.5rem;

  object-fit: cover;
}
